endpoints:
- name: any-name-you-like
  api_type: openai / azure / ...
  api_key: Your API Key Here
  api_base: https://your-api-base-url-here/
  api_version: "2024-12-01-preview" # Only for Azure endpoints